<ion-header no-border>
  <ion-toolbar>
    <ion-title class="title">Community</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding class="padding">
  <h2>Browse by Topics</h2>
  <ion-content scrollX="true" style="width:100%; height:240px" class="categories">
    <div class="categories">
      <ion-card *ngFor="let cat of categories">
        <ion-card-title>{{ cat.title }}</ion-card-title>
      </ion-card>
    </div>
  </ion-content>

  <h2>Most Recent</h2>
  <ion-content> 
    <div class="posts">
      <ion-card *ngFor="let post of posts">
        <ion-card-title>
          <ion-card-title> {{ post.title }} </ion-card-title>
          <ion-card-content> {{ post.preview }} </ion-card-content>
        </ion-card-title>
      </ion-card>
    </div>
  </ion-content>

</ion-content>